body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px;
}

.box-header {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0%;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.banner {
    width: 100%;
    margin: 0 0 2em;
}

.titulo-principal {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear:left;
}

.principal {
    padding: 3em 0;
    background-color: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.utensilios {
    width: 140px;
    float: left;
    margin: 0 20px 10px;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
    font-size: 20px;
}

.localizacao {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888888);
}

.localizacao p {
    text-align: center;
    margin: 0 0 1em;
}

.mapa {
    width: 940px;
    margin: 0 auto;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 5em;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios {
    width: 60%;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "✯ ";
}

.video {
    width: 560px;
    margin: 2em auto;
}

footer {
    text-align: center;
    background: url("imagens_produtos/bg.jpg");
    padding: 20px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 10px 0 0;
}
